  beats {
    port => {{ filebeat_port }}
    type => "beat"

    ssl => false

{% if logstash_ver == 5 %}
    codec => multiline {
              pattern => "^[\s]+"
              #negate => true
              what => "previous"
            }
{% endif %}
  }


  beats {
    port => {{ filebeat_ssl_port }}
    type => "beat"

    ssl => true
    ssl_certificate => "{{ logstash_ssl_certificate.path }}"
{% if logstash_ssl_certificate_authorities is defined and logstash_ssl_certificate_authorities.path %}
    ssl_certificate_authorities => "{{ logstash_ssl_certificate_authorities.path }}"
{% endif %}
# Logstash accept pkcs8 private key format with pass phrase (no where in LG doco says so)
# The DevOps CA tools generate the key in standard openssl (pkcs1) pem format
# Thus we need to convert using the command
# openssl pkcs8 -topk8  -inform PEM -outform PEM -in <in.key> -out <out.key.pkcs8.pem>
# The -outform MUST be PEM, LG does not read the binary DER format. Again no doco

    ssl_key => "{{ logstash_ssl_key.path }}"
    ssl_verify_mode => "{{ logstash_beat_ssl_verify_mode }}"

{% if logstash_ssl_key.passphrase|default() %}
    ssl_key_passphrase => "{{ logstash_ssl_key.passphrase }}"
{% endif %}
{% if logstash_ver == 5 %}
    codec => multiline {
              pattern => "^[\s]+"
              #negate => true
              what => "previous"
            }
{% endif %}
  }
