{% include  "snippets/output.elasticsearch-common.conf.j2" %}
{% include  "snippets/output.elasticsearch-" + logstash_aws_account_name + ".conf.j2" ignore missing %}

# Catch all cats :-)
  else {
      elasticsearch {
        hosts => ["{{ elasticsearch_endpoint }}"]
        index    => "unknown-%{+YYYY.MM.dd}"
    }
  }
