  ## IMPORTANT REMINDER
  # If you create more indices into elastic search by adding in here then you
  # need to update the python script for lambda execution as well to retire these
  # indices and maybe - optimization strategies for your new indices.
  # elasticsearch-lambda-handler-dpe-eplanning.py in template folder.

  else if [type] == "drupal-error" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-drupal-error-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "postgresql-error" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-%{application}-postgresql-error-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "drupal-access" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-drupal-access-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "apache-access" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-apache-access-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "apache-error" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-apache-error-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "qgis-access" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-qgis-access-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "qgis-error" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-qgis-error-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "qgis-application" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-qgis-application-%{+YYYY.MM.dd}"
    }
  }

  else if [type] == "weave-application" {
    elasticsearch {
      hosts => ["{{ elasticsearch_endpoint }}"]
      index => "%{environment}-weave-application-%{+YYYY.MM.dd}"
    }
  }

