[Unit]
Description=logstash

[Service]
Type=simple
User={{ logstash_user }}
Group={{ logstash_group }}
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/logstash
EnvironmentFile=-/etc/sysconfig/logstash
ExecStart=/usr/share/logstash/bin/logstash "--path.settings" "/etc/logstash"
Restart=always
WorkingDirectory=/
Nice={{ logstash_nice }}
LimitNOFILE={{ logstash_open_files_limit }}

[Install]
WantedBy=multi-user.target

